html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #42373d;
    font-family: 'Poppins', sans-serif;
}

/* Centrage vertical et horizontal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteneur vertical */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Image */
img {
    max-width: 90%;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
    /* espace avec le bouton */
}

/* Bouton Retour */
#backBtn {
    display: inline-block;
    padding: 16px 40px;
    font-size: 18px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    text-decoration: none;
    background-color: #ff8fab;
    color: #42373d;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Responsive mobile */
@media (max-width: 768px) {
    img {
        width: 300px;
    }

    #backBtn {
        padding: 14px 30px;
        font-size: 16px;
    }
}